@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: animate-background 3s ease infinite;

}

@keyframes animate-background {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-input-focused {
    width: 100%;
    height: 130px;
    background: #27272a;
    /* border-image-source: linear-gradient(rgba(0, 51, 102, 0.5), rgba(0, 0, 51, 0.5)); */
    /* border-image-slice: 1; */
    /* border-radius: 18px; */
    /* background: rgb(39, 39, 42); */
    /* animation: none !important; */
}
